.thumbnail {
	position: relative;
	display: block;
	width: 90%;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 60px;
	background: #212121;
}

.thumbnail img {
	display: block;
	width: 50%;
	cursor: crosshair;
	border: 5px solid #fff;
	border-top: none;
	border-bottom: none;
	margin: 0 auto;
}

.thumbnail input[type="file"] {
	display: none;
}

.thumbnail .upload-button {
	color: #979797;
	position: absolute;
	right: 8px;
	bottom: 0;
	background: transparent;
	width: 50px;
	height: 24px;
	border: 1px solid #979797;
	padding: 4px 6px;
	outline: none;
}

#canvas-ja {
	display: none;
}
